**/__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.env
.venv
venv/
ENV/
.git/
.dockerignore
Dockerfile
docker-compose.yml
.python-version
.pytest_cache/
.mypy_cache/
tests/
docs/
